@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #e6e8fb;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    border: 0;
}

h1 {
    text-transform: uppercase;
    font-weight: bold;
}

.project-list {
    display: flex;
    justify-content: center;
    position: relative;
}

.project {
    background-color: #32636c;
    border: none;
    width: 20vw;
    min-width: 300px;
    border-radius: 10px;
    margin: 20px;
    padding: 70px 20px;
    cursor: pointer;
    transition: transform 1s ease-in
    box-shadow: 3px 3px 6px rgba(0,0,0,0.1), 0px -6px 6px rgba(0,0,0,0.1) ;
}

.project:hover {
    transform:;
}

main ol {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

li{
    font-size: 1.5rem;
    color: #e3e3e3;
    list-style-position: inside;
    position: relative;
}

a{
    text-decoration: none;
    color: #e3e3e3
}

li::marker{
    font-weight: 600;
}
